<div class="form-group">
  <label for="eventName" >Event name</label>
  <div class="form-group ">
    <input type="text" class="form-control" id="eventName" name="eventName" placeholder="Make it snappy." x-model="data.eventName" >
  </div>
</div>
<div class="form-group">
  <label for="eventLocation" >Location</label>
  <div class="form-group ">
    <input type="text" class="form-control" id="eventLocation" name="eventLocation" placeholder="Be specific." x-model="data.eventLocation">
  </div>
</div>
<div class="form-group">
  <label for="eventStart" >Starts</label>
  <div class="form-group">
    <input type="datetime-local" class="form-control" id="eventStart" name="eventStart"  x-model="data.eventStart">
  </div>
</div>
<div class="form-group">
  <label for="eventEnd" >Ends</label>
  <div class="form-group ">
    <input type="datetime-local" class="form-control" id="eventEnd" name="eventEnd"  x-model="data.eventEnd">
  </div>
</div>
<div class="form-group">
  <label for="timezone" >Timezone</label>
  <div class="form-group ">
    <select class="select2" id="timezone" name="timezone" x-ref="timezone"></select>
  </div>
</div>
<div class="form-group">
  <label for="eventDescription" >Description</label>
  <div class="form-group ">
    <textarea class="form-control expand" id="eventDescription" name="eventDescription" placeholder="You can always edit it later." x-model="data.eventDescription" ></textarea>
    <small class="form-text"><a href="https://commonmark.org/help/">Markdown</a> formatting supported.</small>
  </div>
</div>
<div class="form-group">
  <label for="eventURL">Link</label>
  <div class="form-group ">
    <input type="url" class="form-control" id="eventURL" name="eventURL" placeholder="For tickets or another event page (optional)." x-model="data.eventURL" >
  </div>
</div>
<div class="form-group">
  <label for="eventImage" >Cover image</label>
  <div class="form-group ">
    <div class="image-preview" id="event-image-preview">
      <label for="image-upload" id="event-image-label">Choose file</label>
      <input type="file" name="imageUpload" id="event-image-upload" accept="image/jpeg,image/gif,image/png" x-ref="eventImageUpload" />
    </div>
    <small class="form-text">Recommended dimensions (w x h): 920px by 300px.</small>
    {{#if eventData.image}}
      <div class="form-group my-2">
        <button type="button" class="btn btn-danger" id="deleteImage">Delete image</button>
      </div>
    {{/if}}
  </div>
</div>
<div class="form-group">
  <label for="hostName" >Host name</label>
  <div class="form-group ">
    <input type="text" class="form-control" id="hostName" name="hostName" placeholder="Will be shown on the event page (optional)." x-model="data.hostName" >
  </div>
</div>
<div class="form-group">
  <label for="creatorEmail" >Your email</label>
  <div class="form-group ">
    <input type="email" class="form-control" id="creatorEmail" name="creatorEmail" placeholder="Will not be shown anywhere (optional)." x-model="data.creatorEmail" >
    <small class="form-text">If you provide your email, we will send your secret editing password here, and use it to notify you of updates to the event.</small>
  </div>
</div>
<div class="form-group">
  <label>Options</label>
  <div >
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="eventGroupCheckbox" name="eventGroupCheckbox" x-model="data.eventGroupCheckbox">
      <label class="form-check-label" for="eventGroupCheckbox">
        This event is part of an event group
      </label>
    </div>
    <div class="card my-2" id="eventGroupData" x-show="data.eventGroupCheckbox">
      <div class="card-header">
        <strong>Link this event to an event group</strong>
      </div>
      <div class="card-body" x-data="eventGroupLinker()">
        <div class="form-group-label" x-show="data.groups.length > 0">
          <label>Choose a group you've edited before</label>
        </div>
        <div class="form-group" x-show="data.groups.length > 0">
          <select x-ref="eventGroupSelect" id="eventGroupSelect" name="eventGroupSelect" class="form-control" x-on:change="selectGroup" x-model="data.eventGroupID">
            <option value="">Choose a group</option>
            <template x-for="group in data.groups">
              <option :value="group.id" x-text="group.name"></option>
            </template> 
          </select>
        </div>
        <a class="card shadow-sm card--group-preview mb-3" x-show="showGroupPreview()" x-bind:href="groupPreview().url" target="_blank">
          <template x-if="groupPreview().image">
            <img :src="'/events/' + groupPreview().image"/>
          </template>
          <template x-if="!groupPreview().image">
            <img src="/images/seigaiha-single.png"/>
          </template>
          <div class="card--group-preview__text">
            <strong x-text="groupPreview().name"></strong>
            <p x-text="groupPreview().description"></p>
          </div>
        </a>
        <div class="alert alert-info text-center" role="alert" x-show="data.groups.length > 0">
          <i class="fas fa-info-circle"></i> You can also enter the group ID and secret editing code manually.
        </div>
        <div class="form-group">
          <label for="eventGroupID">Event group ID</label>
          <div class="form-group">
            <input type="text" class="form-control" id="eventGroupID" name="eventGroupID" x-model="data.eventGroupID" x-on:input="resetGroupSelector">
            <small class="form-text">You can find this short string of characters in the event group's link, in your confirmation email, or on the event group's page.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="eventGroupEditToken">Event group secret editing code</label>
          <div class="form-group">
            <input type="text" class="form-control" id="eventGroupEditToken" name="eventGroupEditToken" x-model="data.eventGroupEditToken" x-on:input="resetGroupSelector">
            <small class="form-text">You can find this long string of characters in the confirmation email you received when you created the event group.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="interactionCheckbox" name="interactionCheckbox" x-model="data.interactionCheckbox">
      <label class="form-check-label" for="interactionCheckbox">
        Users can post comments on this event
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="joinCheckbox" name="joinCheckbox" x-model="data.joinCheckbox">
      <label class="form-check-label" for="joinCheckbox">
        Users can mark themselves as attending this event
      </label>
    </div>
    <div class="form-check" id="maxAttendeesCheckboxContainer" x-show="data.joinCheckbox">
      <input class="form-check-input" type="checkbox" id="maxAttendeesCheckbox" name="maxAttendeesCheckbox" x-model="data.maxAttendeesCheckbox">
      <label class="form-check-label" for="maxAttendeesCheckbox">
        Set a limit on the maximum number of attendees
      </label>
    </div>
  </div>
</div>
<div class="form-group" id="maxAttendeesContainer" x-show="data.maxAttendeesCheckbox && data.joinCheckbox">
  <label for="maxAttendees" >Attendee limit</label>
  <div class="form-group ">
    <input type="number" class="form-control" id="maxAttendees" name="maxAttendees" placeholder="Enter a number." x-model="data.maxAttendees" >
  </div>
</div>
<div class="form-group">
  <div class="col-12">
    <div
      class="alert alert-danger"
      role="alert"
      x-show="errors.length > 0"
    >
      <p><i class="fas fa-exclamation-triangle"></i> Please fix these errors:</p>
      <ul>
        <template x-for="error in errors">
          <li x-text="error.message"></li>
        </template>
      </ul>
    </div>
  </div>
</div>
