<p>
  Upload an .ics file here to instantly create an event. You can save a Facebook event as an .ics file by clicking on the context menu next to the 'Import' and 'Edit' buttons on the event page and choosing the 'Export Event' option. Then select the 'Save to calendar' option and save the file on your computer.
</p>

<img class="img-thumbnail mb-3 d-block mx-auto" src="/images/facebook-export.png" alt="Image showing the location of the export option on Facebook" />

<form id="icsImportForm" action="/importevent" method="post" enctype="multipart/form-data">
  <div class="custom-file" id="icsImportContainer">
    <input required name="icsImportControl" type="file" class="custom-file-input" id="icsImportControl" aria-describedby="fileHelp" accept="text/calendar">
    <label name="icsImportLabel" class="custom-file-label" id="icsImportLabel" for="icsImportControl">
       <i class="far fa-file-alt"></i> Select file
    </label>
  </div>
  <button type="submit" class="d-block mt-3 mx-auto btn btn-primary w-50">Import</button>
</form>
