<h4 class="mb-2">Create an event group</h4>
<p>An event group is a holding area for a set of linked events, like a series of film nights, a festival, or a band tour. You can share a public link to your event group just like an individual event link, and people who know the secret editing code (sent in an email when you create the event group) will be able to add future events to the group.</p>
<p>Event groups do not get automatically removed like events do, but events which have been removed from {{siteName}} will of course not show up in an event group.</p>
<form id="newEventForm" action="/neweventgroup" method="post" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="eventGroupName" class="col-sm-2 col-form-label">Event group name</label>
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" id="eventGroupName" name="eventGroupName" placeholder="Make it snappy." value="{{data.eventName}}" data-validation="required length" data-validation-length="3-120">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventGroupDescription" class="col-sm-2 col-form-label">Description</label>
    <div class="form-group col-sm-10">
      <textarea class="form-control expand" id="eventGroupDescription" name="eventGroupDescription" data-validation="required" placeholder="You can always edit it later."></textarea>
      <small class="form-text"><a href="https://commonmark.org/help/">Markdown</a> formatting supported.</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="eventGroupURL" class="col-sm-2 col-form-label">Link</label>
    <div class="form-group col-sm-10">
      <input type="url" class="form-control" id="eventGroupURL" name="eventGroupURL" placeholder="For tickets or a page with more information (optional)." data-validation="url" data-validation-optional="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventGroupImage" class="col-sm-2 col-form-label">Cover image</label>
    <div class="form-group col-sm-10">
      <div class="image-preview" id="eventGroupImagePreview">
        <label for="image-upload" id="eventGroupImageLabel">Choose file</label>
        <input type="file" name="imageUpload" id="eventGroupImageUpload" />
      </div>
      <small class="form-text">Recommended dimensions (w x h): 920px by 300px.</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="hostName" class="col-sm-2 col-form-label">Host or organisation name</label>
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" id="hostName" name="hostName" placeholder="Will be shown on the event group page (optional)." data-validation="length" data-validation-length="2-60" data-validation-optional="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="creatorEmail" class="col-sm-2 col-form-label">Your email</label>
    <div class="form-group col-sm-10">
      <input type="email" class="form-control" id="creatorEmail" name="creatorEmail" placeholder="We won't spam you <3" data-validation="email required">
      <small class="form-text">We will send your secret editing link to this email address.</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 pt-3 pb-3 text-center">
      <button type="submit" class="btn btn-primary w-50">Create</button>
    </div>
  </div>
</form>

<script>
  $(document).ready(function() {
    $.uploadPreview({
      input_field: "#eventGroupImageUpload",
      preview_box: "#eventGroupImagePreview",
      label_field: "#eventGroupImageLabel",
      label_default: "Choose file",
      label_selected: "Change file",
      no_label: false
    });
    autosize($('textarea'));
  });
</script>
