<h1><a href="/" class="text-dark">gath<span class="text-muted">io</span></a></h1>

<p class="lead text-center mb-4">Nicer events</p>

<a class="btn btn-success mb-2 btn-block" href="/new/event/public"><i class="far fa-calendar-plus"></i> New event</a>
