<div class="sidebar-sticky-wrapper">
    <h1><a href="/">gathio</a></h1>

    <ul id="sidebar__nav">
        <li><a class="button button--primary" href="/new"><i class="far fa-calendar-plus"></i> {{t "sidebar.createevent" }}</a></li>
        {{#if showPublicEventList}}
            <li><a href="/events">{{t "sidebar.events" }}</a></li>
            <li><a href="/about">{{t "sidebar.about" }}</a></li>
        {{/if}}
    </ul>
</div>
