<div class="dropdown mb-2">
  <a class="w-100 btn btn-dark dropdown-toggle" href="#" role="button" id="newEventDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{{__ "neweventpage"}}}
  </a>

  <div class="dropdown-menu" aria-labelledby="newEventDropdownMenuLink">
    <a class="dropdown-item" href="/new/event/private">{{{__ "private"}}}</a>
    <a class="dropdown-item" href="/new/event/public">{{{__ "public"}}}</a>
    <a class="dropdown-item" href="/new/event/organisation">{{{__ "org"}}}</a>
  </div>
</div>