<div class="dropdown mb-2">
  <a class="w-100 btn btn-dark dropdown-toggle" href="#" role="button" id="newEventDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New event
  </a>

  <div class="dropdown-menu" aria-labelledby="newEventDropdownMenuLink">
    <a class="dropdown-item" href="/new/event/private">Private</a>
    <a class="dropdown-item" href="/new/event/public">Public</a>
    <a class="dropdown-item" href="/new/event/organisation">Organisation</a>
  </div>
</div>