<div id="fixedContainer" class="pt-3">
    <h1><a href="/"><small>Hashi<span class="text-muted">Act</small></span></a></h1>

    <p class="lead text-center mb-4">{{{__ "nicerevent"}}}</p>

    <a class="btn btn-success mb-2 btn-block" href="/new/event/public"><i class="far fa-calendar-plus"></i> {{{__ "neweventpage"}}}</a>
</div>
