<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<meta property="og:image:width" content="260">
		<meta property="og:image:height" content="260">
		<meta property="og:description" content="An easier, quicker, and much less privacy-invading way to make and share events">
		<meta property="og:title" content="gathio">
		<meta property="og:url" content="http://gath.io/">
		<meta property="og:image" content="http://gath.io/og-image.jpg">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="gathio">
		<meta name="twitter:description" content="An easier, quicker, and much less privacy-invading way to make and share events. ">
		<meta name="twitter:image" content="http://gath.io/og-image.jpg">


		<title>{{#if title}}{{title}} &middot; {{/if}}gathio</title>

		<!-- FONTS -->

		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<!-- CSS -->

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link href="/css/datepicker.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/style.css">

		<!-- JS -->

		<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="/js/jquery.form-validator.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/datepicker.min.js"></script>
		<script src="/js/moment.js"></script>
		<script src="/js/jquery.uploadPreview.min.js"></script>
		<script src="/js/clipboard.min.js"></script>
		<script src="/js/autosize.min.js"></script>
		<script src="/js/i18n/datepicker.en.js"></script>

	</head>

	<body>
		<div class="container h-100">
			<div class="row" id="container">
				<div class="col-lg-2 col-md-3 col-sm-4 pt-3" id="sidebar">
					{{>sidebar}}
				</div>
				<div class="col-sm pt-3" id="content">
					<div id="bodyContainer">
						{{{body}}}
					</div>
					<div id="footerContainer">
						<a href="https://github.com/lowercasename/gathio">GitHub</a> &middot; <small class="text-muted">Made with <i class="far fa-heart"></i> by <a href="http://raphaelkabo.com">Raphael</a> &middot; Need help? <a href="mailto:support@gath.io">Email us</a>.</small>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
