<main class="page">
    <h1>404 - Event not found</h1>
    <p>It may have never existed, or it's been removed from the server. Don't despair - why not create a new one? I for one would love to come to your ocarina recital.</p>
</main>
