<main class="page">
    <h1>404</h1>

    <p>Event not found!</p>

    <p>It may have never existed, or if it finished more than a week ago, it's been removed from the server. Don't despair - why not create a new one? I for one would love to come to your ocarina recital.</p>
</main>