<article>

  <h2 class="mb-4">Request a link to create a new event</h2>

  <form
    action="/magic-link/event/create"
    method="post"
    hx-post="/magic-link/event/create"
    hx-target="article"
  >
    <p>
      The administrator of this instance has limited event creation to a set of specific email addresses. If your email address is allowed to create events, you will be sent a magic link. If not, you won't receive anything.
    </p>
    <p>
      If you run into any issues, please contact the instance administrator.
    </p>
    {{#if message}}
      <div class="alert alert-{{message.type}}" role="alert">
        {{message.text}}
      </div>
    {{/if}}
    <div class="form-group">
      <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email address" required name="email">
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary w-50">Request magic link</button>
    </div>
  </form>
</article>
