<main class="page" x-data="{currentTab: null}">
<h2 class="mb-3 pb-2 text-center border-bottom">What would you like to do?</h2>
<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-lg-4 p-2">
      <button type="button" id="showNewEventFormButton" class="button w-100" x-bind:class="currentTab === 'event' ? 'button--primary' : 'button--secondary'" x-on:click="currentTab = 'event'"><i class="fas fa-calendar-day"></i> Create a new event</button>
    </div>
    <div class="col-lg-4 p-2">
      <button type="button" id="showImportEventFormButton" class="button w-100" x-bind:class="currentTab === 'importEvent' ? 'button--primary' : 'button--secondary'" x-on:click="currentTab = 'importEvent'"><i class="fas fa-file-import"></i> Import an existing event</button>
    </div>
    <div class="col-lg-4 p-2">
      <button type="button" id="showNewEventGroupFormButton" class="button w-100" x-bind:class="currentTab === 'group' ? 'button--primary' : 'button--secondary'" x-on:click="currentTab = 'group'"><i class="fas fa-calendar-alt"></i> Create a new event group </button>
    </div>
  </div>
</div>

<div class="alert alert-info mb-4 text-center" role="alert">
  <i class="fas fa-exclamation-circle"></i> Events are visible to anyone who knows the link.
</div>

<div id="newEventFormContainer" x-show="currentTab === 'event'" style="display: none">
  <h4 class="mb-2">Create an event</h4>
  <form
    id="newEventForm"
    enctype="multipart/form-data"
    x-data="newEventForm()"
    x-init="init()"
    @submit.prevent="submitForm"
    @event-group-id-changed="data.eventGroupID = $event.detail"
    @event-group-edit-token-changed="data.eventGroupEditToken = $event.detail"
  >
    {{>eventForm}}
    <div class="form-group row">
      <div class="col-sm-12 pt-3 pb-3 text-center">
        <button
          id="newEventFormSubmit"
          type="submit"
          class="button button--primary w-50"
          x-bind:disabled="submitting"
          x-bind:class="submitting ? 'button--loading' : ''"
          x-text="submitting ? 'Creating...' : 'Create'"
        ></button>
      </div>
    </div>
  </form>
</div>

<div id="importEventFormContainer" x-show="currentTab === 'importEvent'" style="display: none">
  {{>importeventform}}
</div>

<div id="newEventGroupFormContainer" x-show="currentTab === 'group'" style="display: none">
  <h4 class="mb-2">Create an event group</h4>
  <p class="text-muted">An event group is a holding area for a set of linked events, like a recurring game night, a festival, or a band tour. You can share a public link to your event group just like an individual event link, and people who know the secret editing code will be able to add future events to the group.</p>
  <p class="text-muted">Event groups do not get automatically removed like events do, but events which have been removed from {{siteName}} will of course not show up in an event group.</p>
  <form id="newEventGroupForm" enctype="multipart/form-data" x-data="newEventGroupForm()" @submit.prevent="submitForm">
    {{> eventGroupForm }}
    <div class="form-group row">
      <div class="col-sm-12 pt-3 pb-3 text-center">
        <button
          type="submit"
          class="button button--primary w-50"
          x-bind:disabled="submitting"
          x-bind:class="submitting ? 'button--loading' : ''"
          x-text="submitting ? 'Creating...' : 'Create'"
        ></button>
      </div>
    </div>
  </form>
</div>

</main>

<script src="/js/generate-timezones.js"></script>
<script src="/js/modules/new.js"></script>
<script src="/js/modules/group-linker.js"></script>
