<div class="form-group row">
  <div class="col-sm-2">Options</div>
  <div class="col-sm-10">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="joinCheckbox" name="joinCheckbox" {{#if data.joinCheckbox}}checked{{/if}}>
      <label class="form-check-label" for="joinCheckbox">
        Users can mark themselves as attending this event
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="guestlistCheckbox" name="guestlistCheckbox"  {{#if data.guestlistCheckbox}}checked{{/if}}>
      <label class="form-check-label" for="guestlistCheckbox">
        {{#if isPrivate}}Privately display{{else}}Publicly display{{/if}} the list of attendees
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="interactionCheckbox" name="interactionCheckbox" {{#if data.interactionCheckbox}}checked{{/if}}>
      <label class="form-check-label" for="interactionCheckbox">
        Users can post comments on this event
      </label>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-2">Options</div>
  <div class="col-sm-10">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="joinCheckbox" name="joinCheckbox" {{#if eventData.usersCanAttend}}checked{{/if}}>
      <label class="form-check-label" for="joinCheckbox">
        Users can mark themselves as attending this event
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="guestlistCheckbox" name="guestlistCheckbox"  {{#if eventData.showUsersList}}checked{{/if}}>
      <label class="form-check-label" for="guestlistCheckbox">
        Display the list of attendees
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="interactionCheckbox" name="interactionCheckbox" {{#if eventData.usersCanComment}}checked{{/if}}>
      <label class="form-check-label" for="interactionCheckbox">
        Users can post comments on this event
      </label>
    </div>
  </div>
</div>
