[Unit]
Description=GathIO
After=network.target

[Service]
Type=simple
User=gathio
WorkingDirectory=/srv/gathio
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
