[general]
# Your domain goes here. If there is a port it should be 'domain.com:port', but
# otherwise just 'domain.com'.
domain = "localhost:3000"
port = "3000"
email = "contact@example.com"
site_name = "gathio"
is_federated = true
# If left blank, this defaults to
# https://yourdomain.com/images/gathio-email-logo.gif. Set a full URL here to
# change it to your own logo (or just change the file itself).
email_logo_url = ""
# Show a Ko-Fi box to donate money to Raphael (Gathio's creator) on the front
# page.
show_kofi = false
# Which mail service to use to send emails to hosts and attendees. Options are
# 'nodemailer' or 'sendgrid'. Configure settings for this mail
# service below.
mail_service = "nodemailer"
# An array of email addresses which are permitted to create events. If this is
# empty, anyone can create events.
# For example:
# creator_email_addresses = ["test@test.com", "admin@test.com"]
creator_email_addresses = []

[database]
# Set up for a locally running MongoDB connection. Change this to
# 'mongodb://mongo:27017/gathio' for a Dockerised connection.
mongodb_url = "mongodb://localhost:27017/gathio"

[nodemailer]
smtp_server = ""
smtp_port = ""
smtp_username = ""
smtp_password = ""

[sendgrid]
api_key = ""

# Links to static pages (for example a privacy policy) or an external community page,
# which will be displayed in the footer.
# If paths begin with a slash, they are treated as internal and will open the specified
# Markdown or text file. If they are absolute (begin with https://), they will simply
# link to the specified URL.

# [[static_pages]]
# title = "Privacy Policy"
# path = "/privacy"
# filename = "privacy-policy.md"

# [[static_pages]]
# title = "External Link"
# path = "https://example.com"
